MVP:
1. Reserve laundry room for a specific time
2. Start washing session
3. Get notified when your washing session is done (alarm)
4. Finish washing cycle 

Enhancement 1
1. Ad-hoc laundry session

Enhancement 2
1. Subscribe to notification when laundry session of another party is done
2. trigger push service 

Enhancement 3
1. Send request to current laundry session of another party to get an estimate of end (time or washing cycle)

Enhancement 4
1. User management

Enhancement 5
1. Laundry room/machine management
